<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yousells.modules.topic.mapper.TopicReplyMapper">

    <resultMap id="topicReplyMap" type="com.yousells.modules.topic.entity.TopicReplyEntity">
        <id property="id" column="id"/>
        <result property="topicId" column="topic_id"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="isSolution" column="is_solution"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

</mapper>
